<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias alias="UserDTO" type="com.acorn.racket.login.domain.UserLoginDTO"/>
		
		<typeAlias alias="Club" type="com.acorn.racket.match.domain.Club" /> -->  <!--DTO 파일명을 간결한 이름(alias)으로 지정 -->
		
	</typeAliases>
</configuration>